$color-main: rgba(86, 0, 225, 1);
$color-bg: rgba(39, 39, 39, 1);
$color-bg-footer: rgba(9, 9, 9, 1);
$color-bg-field: rgba(170, 170, 170, 0.1);
$color-text-user: rgba(255, 255, 255, 0.5);
$color-white: #ffffff;
$color-black: #000000;